@font-face {
  font-family: Norse-Bold;
  src: url(fonts/Norse-Bold.otf);
}

* {
  box-sizing:content-box;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(31, 31, 31);
  height: 100vh;
  max-width: 1400px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  position: sticky;
  flex-shrink: 0.7;
  width: 750px;
  background-image: url(images/bg.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: aliceblue;
}

.ribbon {
  font-family: Norse-Bold;
  background-color: rgba(0, 0, 0, 40%);
  font-size: 6rem;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(100vh * 0.2);
}

.ribbon img {
  height: 120px;
}

.sidebar p {
  align-self: center;
  font-size: 0.8rem;
  color: rgb(221, 221, 221);
}

.sidebar a {
  color: rgb(221, 221, 221);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  padding: 0px;
}

.main h2 {
  padding-left: 30px;
  max-width: 55ch;
}

input, label, li, ul {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.main ul {
  margin-top: 40px;
  padding-left: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 3px 5px rgb(187, 187, 187);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main ul h2 {
  margin-right: auto;
  padding-left: 0px;
  flex: 100%;
  display: block;
}

.main li {
  position: relative;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 40px;
}

.main li label {
  position: absolute;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
  color: rgb(80, 80, 80);
  top: -20px;
  left: 0px;
}

.main li input {
  width: 240px;
  margin-right: 30px;
  padding: 4px;
  border: solid rgb(218, 218, 218) 1px;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  outline: none;
  position: relative;
}

.main li input:user-invalid {
  border: solid rgb(216, 114, 114) 1px;
}

.main li input[id*="pw"]:user-invalid + div::after {
  content: "* Passwords do not match";
  position: absolute;
  font-size: 0.7rem;
  color: rgb(212, 0, 0);
  top: 30px;
  left: 0px;
}

.main li input:focus {
  border: solid rgb(36, 121, 173) 1px;
  box-shadow: 1px 1px 3px rgb(201, 201, 201);
  background-color: rgb(240, 240, 240);

}

.main button {
  margin: 30px;
  background-color: rgb(101, 121, 85);
  color: rgb(243, 243, 243);
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 40px;
  border: none;
  border-radius: 9px;

}

.main p {
  margin-left: 30px;
}

.main a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(101, 121, 85);
}

